// fonts



// colors

$sienna: #482728;
$lavender: #986E80;
$oldpink: #D1B2C8;
$mint: #C0F8D1;
$green: #79B791;
$english: #A54657;
$yellow: #E5D352;
$blue: #258EA6;

$iceberg: #81A4CD;
$lapislazuli: #33658A;
$chinese: #F6AE2D;
$aliceblue: #DBE4EE;
$middleblue: #7DBBC3;

