// fonts

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
$uppercase-font: 'Amatic SC', cursive;

// colors

$sienna: #482728;
$lavender: #986E80;
$oldpink: #D1B2C8;
$mint: #C0F8D1;
$green: #79B791;
$english: #A54657;
$yellow: #E5D352;
$blue: #258EA6;

$iceberg: #81A4CD;
$lapislazuli: #33658A;
$chinese: #F6AE2D;
$aliceblue: #DBE4EE;
$middleblue: #7DBBC3;
$orange: #CC5803;
$grey: #2B3639;


// font size

$upper-headline: 30px;
$upper-maxiheadline: 60px;