.add-recipe-view {
    padding-top: 30px;
    background-color: $aliceblue;
    position: relative;

    .round {
        background-color: $iceberg;
        height: 250px;
        width: 250px;
        border: 1px solid $iceberg;
        border-radius: 50%;
        margin: auto;
        position: relative;
        display: flex;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
    }
    
    h2 {
        width: 400px;
        font-size: $upper-maxiheadline;
        align-self: center;
        margin-bottom: 0;
    }

}
