
#app {
    font-family: $uppercase-font;
    text-align: center;
    // font-family: Avenir, Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    height: 100vh;
   
    ::selection {
        color: $iceberg;
        background: $grey;
    }
     ::-moz-selection { /* Code for Firefox */
        color: $iceberg;
        background: $grey;
    }

    ul {
        padding: 30px;
        background-color: $chinese;
        box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.06);
    }
    a {
        color: white;
        font-weight: 600;
        font-size: $upper-headline;
    }
    .nav-link.active {
        background-color: $orange;
    }
}
