.categories-component {
    font-size: $upper-headline;

    .categories-container {
        max-width: 1200px;
        min-height: calc(100vh - 121px);
        margin: auto;
        padding: 30px;

        .nav-categories {
            margin-bottom: 30px;
            background-color: $middleblue;
        }

        .categories-listed-recipes {
            .title {
                color: $grey;
            }
        }
    }
}