.home-component {
    font-size: $upper-headline;

    .home-container {
        max-width: 1200px;
        min-height: calc(100vh - 121px);
        margin: auto;
        padding: 30px 210px;
    }

    h1 {
        font-size: 100px;
        padding: 50px 0;
    }
}