
.login-component {
    font-size: $upper-headline;
    color: $grey;
    background-color: $middleblue;
    min-height: 100vh;

    form {
        width: 80%;
        margin: auto;
        max-width: 500px;

        .headline-logo {
            margin-bottom: 100px;
        }

        .smaller-headline {
            margin-bottom: 50px;
        }

        h1 {
            font-size: $upper-maxiheadline;
            padding-top: 15vh;
        }

        label {
            text-align: left;
        }

        input {
            font-family: $regular-font;
        }

        button {
            font-size: $upper-headline;
            margin: 50px 0;
        }

        .extras {
            text-align: right;
            padding-bottom: 50px;

            a {
                cursor: pointer;
                padding-left: 15px;
            }

            span {
                padding-left: 15px;
                color: white;
            }
        }

        p {
            font-weight: 800;
            padding-bottom: 30px;
        }
    }

    .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#34495E, 0.4);
        z-index: 9999;
    
        p {
            background: white;
            width: 150px;
            text-align: center;
            margin: 40vh auto 0;
            padding: 40px 0;
            border-radius: 3px;
            box-shadow: 0 0 20px 0 rgba(#34495E, 0.5);
        }
    }

    .error-msg {
        color: $grey;
        font-weight: 800;
        max-width: 500px;
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
    }
}
